<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <h2 class=text-center><strong>Sign up</strong></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "First Name" %>
          <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Last Name" %>
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email" %>

          <%= f.input :address, autofocus: true, label: false, required: true, placeholder: "Address" %>


          <%= f.input :password, required: true, autofocus: true, label: false, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>

          <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation" %>

          <%= f.input :phone_number, autofocus: true, label: false, required: true, placeholder: "Phone Number" %>

          <!-- ToDo Enable to select organization from List-->
          <div class="select-form">
          <%= f.association :organization, autofocus: true, label: false, required: true, prompt: "Organization" %>
          </div>

          <!-- ToDo Enable to select evacuation_point from Map-->

        <!-- </div>

        <div class="form-actions"> -->
          <%= f.button :submit, "Sign up", {class: "btn-lg btn-sign" } %>
        </div>
        <% end %>

        <div class="pull-right">
          <%= render "devise/shared/links" %>
        </div>

      <hr>

    </div>
  </div>
</div>

<hr>

<%= content_for(:after_js) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=en&libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<% end %>
