<div class="container">
  <h2>Register Items</h2>
  <%= simple_form_for [@user, @request, @items_request] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :item, required: true, autofocus: true %>
    <%= f.input :quantity, required: true, autofocus: true %>
    <%= f.input :status, required: true, autofocus: true %>
    <!-- ToDo Add Map Functin and get latitude and longitude Here -->
    <!-- ToDo Enable to select evacuation_point from Map-->

    <!-- <%# = f.input :request, as: :hidden, value: :request %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register", {class: "btn-lg btn-primary btn-text"}%>
  </div>
  <% end %>


  <h2>Registered Items</h2>
  <% @registered_items_requests.each do |r| %>
    <ul>
      <li><%= r.item %></li>
      <li><%= r.quantity %></li>
      <li><%= r.status %></li>
    </ul>
  <% end %>

</div>

<hr>
