<%= simple_form_for [@user, @request] do |f| %>

  <div class="js-request">
    <div class="field">
      <%= f.input :address %>
    </div>
    <div class="field">
      <h2> Item </h2>
      <%= f.simple_fields_for :items_requests do |ir| %>
        <%= render 'requests/items_request_fields', f: ir %>
      <% end %>
    </div>

    <div class="field" style="position: relative; top: -40px">
      <%= link_to_add_association 'Add', f, :items_requests, { class: "btn btn-lg btn-sign", style: "color: white; margin-top: 10px" } %>
    </div>
  </div
  <div class="actions pull-right">
    <%= f.submit 'Register', {class: "btn btn-lg pull-right" }  %>
  </div>

<% end %>
