<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h2>
        Create New Request
      </h2>

      <%= simple_form_for [@user, @request] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :category, required: true, autofocus: true, collection: ["Supplies", "Fire", "Medical", "Other"] %>
        <%= f.input :address, required: true, autofocus: true %>
        <%= f.input :priority, required: true, autofocus: true, collection: ["Extremely Urgent", "Urgent", "Moderate", "Not Urgent"] %>
        <!-- ToDo Add Map Functin and get latitude and longitude Here -->
        <!-- ToDo Enable to select evacuation_point from Map-->
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Go Next To Register Necessary Items", {class: "btn-lg btn-primary btn-text"}%>
      </div>
      <% end %>

    </div>
  </div>
</div>

<hr>
